body{
	font-family: Trebuchet MS, sans-serif;
}

#container {
	background-color: gainsboro;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.form-input {
	height: 30px;
	font-size: 125%;
	
	margin-right: 20px;
}	

.account-input{
	height: 35px;
	width: 80px;
}

.amount-input{
	
}

.sr-only{
	font-size: 125%;
	margin-right: 10px;
}

#submit-button{
		height: 35px;
}

.form-inline{
	padding: 10px;
	border-style: dashed;
	text-align: center;
}

p{
	font-size: 125%;

}

h4{
	font-size: 150%;
}

.card{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}